* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  
  header {
    background: #FF6B6B;
    padding: 10px;
    color: white;
    text-align: left;
    font-weight: 800;
  }

  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  header nav li {
    display: inline;
    margin-right: 10px;
    text-decoration: none;
    padding: 0 10px;
    color: black;
  }
  header nav ul li img {
    width: 200px;
  }
  .header-text {
    position: absolute;
    padding-top: 15px;
    font-size: 25px;
    font-weight: 800;
  }

  h1 {
    font-size: 16px;
    margin: 5px;
  }
  .container {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f9fafc;
  }
  
  /*
  Payment Information card
  */
  .details_card {
    width: 700px;
    height: 400px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
  }
  
  /*
  Order Summary Card
  */
  .summary_card {
    background-color: #fff;
    width: 350px;
    height: 400px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
  }
  
  /*
  Order Card Item Card
  */
  .card_item {
    display: flex;
    position: relative;
    margin: 10px 0;
  }
  .close-btn {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  
  .card_item .product_img img {
    height: 80px;
    margin-right: 20px;
    width: 70px;
    border-radius: 5px;
  }
  
  .product_info h1 {
    font-size: 20px;
    color: #1e212d;
    margin: 5px 0;
  }
  
  .product_info p {
    color: #a1a1a1;
    font-size: 14px;
  }
  .product_rate_info {
    display: flex;
    margin: 5px 0;
    align-items: center;
    justify-content: space-between;
  }
  
  /*
  cart item + & -
  */
  .pqt {
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    text-align: center;
  }
  
  .pqt-plus,
  .pqt-minus {
    background: #fcfcfc;
    border: none;
    font-size: 20px;
    height: 100%;
    padding: 0 15px;
  }
  .pqt-plus:hover,
  .pqt-minus:hover {
    background: #53b5aa;
    color: #fff;
    cursor: pointer;
  }
  
  .pqt-plus {
    line-height: 30px;
  }
  
  .pqt-minus {
    line-height: 30px;
  }
  /*
  Order price & total
  */
  .order_price,
  .order_service,
  .order_total {
    display: flex;
  
    justify-content: space-between;
    padding: 10px;
  }
  .order_price p,
  .order_service p {
    color: #a1a1a1;
  }
  
  .order_total p {
    font-weight: 600;
  }
  
  /*
  Payment Information all input
  */
  
  input {
    outline: 0;
    background: #f2f2f2;
    border-radius: 4px;
    width: 100%;
    border: 0;
    caret-color: #4f5d7e;
    margin: 10px 15px;
    padding: 15px 20px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .username,
  .address {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .add_savedcard {
    width: 100%;
    height: 100px;
    border: 2px solid #a1a1a1;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  /*
  Procced Payment button
  */
  .proced_payment a {
    padding: 10px 20px;
    width: 200px;
    border: 2px solid #f5f5f5;
    background-color: #53b5aa;
    color: #000;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
  }

  footer {
    position: flex;
    width: 100%;
    bottom: 0;
    display: flex;
    background: #FF6B6B;
    height: 100px;
    justify-content: space-between;
    align-items: center;
  }
  .about h3 {
    padding-right: 30px;
  }
  .contact h3 {
    padding-right: 30px;
  }
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6px;
    padding-left: 30px;
  }
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6px;
    padding-left: 30px;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: thin;
  }
  footer ul {
    list-style: none;
  }
  