      :root {
      --background-color: #FFFFFF;
      --primary-color: #FF6B6B;
      --secondary-color: #F0F0F0;
      --text-color: #333;
      --link-background-color: white;
      --button-background-color: orange;
    }

    :root {
      --background-color: #FFFFFF;
      --primary-color: #FF6B6B;
      --secondary-color: #f0f0f0;
      --text-color: #333;
      --link-background-color: white;
      --product-details-background: #EDEDED;
      --product-image-large-url: url("product-image-large.jpg");
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }

    body {
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
      background-color: var(--background-color);
    }

    header {
      background: var(--primary-color);
      padding: 20px;
      color: white;
      text-align: left;
      font-weight: 800;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    nav li {
      display: inline;
      margin-right: 10px;
      text-decoration: none;
      padding: 0 10px;
      color: var(--text-color);
    }

    nav li a {
      padding: 5px 10px;
      background-color: var(--link-background-color);
      text-decoration: none;
      color: var(--text-color);
    }

    .search-bar {
      background-color: var(--link-background-color);
      display: flex;
      align-items: center;
      border-radius: 5px;
      padding: 5px;
    }

    .search-bar input[type="text"] {
      border: none;
      outline: none;
      flex: 1;
      padding: 5px;
    }

    .search-bar i {
      margin: 5px;
      color: var(--text-color);
    }

    .icons {
      display: flex;
    }

    .icons i {
      font-size: 24px;
      margin-left: 20px;
      color: var(--text-color);
    }

    .container {
      display: flex;
    }

    .slider {
      margin: 50px;
      flex: 1;
      background-color: var(--secondary-color);
      padding: 20px;
      border-radius: 10px;
      margin-right: 20px;
    }

    .slider-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .slider-item {
      margin-bottom: 20px;
    }

    .gallery {
      margin: 50px;
      flex: 3;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    .gallery-item {
      background-color: var(--secondary-color);
      padding: 20px;
      border-radius: 10px;
      text-align: center;
    }

    .gallery-item img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .gallery-item h4 {
      margin-bottom: 10px;
    }

    footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      background: #FF6B6B;
      height: 100px;
      justify-content: space-between;
      align-items: center;
    }
    .footer-logo {
      padding-left: 20px;
    }
    .about h3 {
      padding-right: 30px;
    }
    .contact h3 {
      padding-right: 30px;
    }
    .about {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 6px;
      padding-left: 30px;
    }
    .contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 6px;
      padding-left: 30px;
    }
    
    footer a {
      text-decoration: none;
      color: #fff;
      font-size: 13px;
      font-weight: thin;
    }
    footer ul {
      list-style: none;
    }
    
