<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Center</title>
    <link rel="stylesheet" href="/css/admin_home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="/img/logo.png">
        </div>

        <div class="title-nav">
            <span>Admin Center</span>
        </div>
    </nav>

    <main>
        <div class="table-content" id="user-tab">
            <div class="table-header">
                <h3>Quản lý tài khoản người dùng</h3>
            </div>
            <div class="table-body">
                <table>
                    <thead>
                        <th>Tên người dùng</th>
                        <th>Email</th>
                        <th>Loại tài khoản</th>
                        <th>Giao dịch gần đây</th>
                        <th>Trạng thái tài khoản</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Trần Văn A</td>
                            <td>adawda@gmail.com</td>
                            <td>Khách hàng</td>
                            <td>05/07/2023</td>
                            <td>
                                <select>
                                    <option>Hoạt động</option>
                                    <option>Bị cấm</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Trần Văn B</td>
                            <td>adawda@gmail.com</td>
                            <td>Khách hàng</td>
                            <td>05/07/2023</td>
                            <td>
                                <select>
                                    <option>Hoạt động</option>
                                    <option>Bị cấm</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="table-content table-content-product">
            <div class="table-header">
                <h3>Quản lý tất cả bài đăng sản phẩm</h3>
            </div>
            <div class="table-body">
                <table>
                    <thead>
                        <th></th>
                        <th>Tên sản phẩm</th>
                        <th>Chi tiết sản phẩm</th>
                        <th>lượt mua</th>
                        <th>Ngày đăng</th>
                        <th>Chủ shop</th>
                        <th>Trạng thái bài đăng</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="/img/product.png" alt="">
                            </td>
                            <td>Sữa rửa mặt</td>
                            <td>sửa rửa mặt thiên nhiên được làm bằng sửa kết hợp với hỗn hợpa ưdwauidawoid tốt cho sức khoẻ người dùng</td>
                            <td>400</td>
                            <td>27/07/2023</td>
                            <td>ABC SHOP</td>
                            <td>
                                <select>
                                    <option>Cho phép</option>
                                    <option>Đình chỉ</option>
                                    <option>Xoá</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-logo">
            <img src="/img/LaTiPee Logo.png" width="200px">
        </div>
        <div class="about">
            <h3>Giới thiệu:</h3>
            <ul>
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Điều khoản sử dụng</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
            </ul>
        </div>
        <div class="contact">
            <h3>Liên Hệ:</h3>
            <ul>
                <li><a href="#">Hotline: 1900 0000</a></li>
                <li><a href="#">Email:
    </footer>
</body>
</html>