<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/Admin_Login.css" />
    <link rel="icon" type="image/x-icon" href="/img/LaTiPee-small.png">
    <title>Đăng nhập (Admin)</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin">
          <form action="" method="POST" class="sign-in-form">
            <img src="/img/LaTiPee RemoveBG.png" width="150">
            <h2 class="title">Đăng Nhập</h2>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" name="userName" id="userLogin" placeholder="Tên Đăng Nhập" />
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" id="passLogin" placeholder="Mật Khấu" />
            </div>
            <button class="btn solid">Đăng Nhập</button>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Welcome Back ;></h3>
            <p>
                Đăng nhập để tiếp tục hành trình đi nào!
            </p>
          </div>
          <img src="/img/login Admin.svg" class="image" alt="" />
        </div>
    </div>

    <script src="/Js/app.js"></script>
  </body>
</html>
