<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/Forgot.css" />
    <title>Quên Mật Khẩu</title>
    
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="forgot">
          <form action="" method="post" class="forgot-form">
            <img src="/img/LaTiPee RemoveBG.png" width="200">
            <h2 class="title">Đặt lại mật khẩu</h2>
            <div class="input-field">
                <i class="fas fa-lock"></i>
              <input type="password" name="password" id="password" placeholder="Nhập mật khẩu mới"  />
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
              <input type="password" name="password2" id="password2" placeholder="Nhập lại mật khẩu mới"  />
            </div>
            <input type="submit" value="Xác nhận" class="btn solid" />
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>Quên mật khẩu à</h3>
            <p>
                Hãy Đặt lại mật khẩu để tiếp tục sử dụng dịch vụ của chúng tôi :>
            </p>
          </div>
          <img src="/img/Forgot.svg" class="image" alt="" />
        </div>
    </div>
  </body>
</html>